.search-container{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 2.5rem; /* Equivalent to my-10 */
    margin-bottom: 2.5rem; /* Equivalent to my-10 */
    padding-left: 2.5rem; /* Equivalent to px-10 */
    padding-right: 2.5rem;
}

.searchbar {
    width: 16rem; /* Equivalent to w-64 */
    padding-top: 0.75rem; /* Equivalent to py-3 */
    padding-bottom: 0.75rem; /* Equivalent to py-3 */
    padding-left: 1rem; /* Equivalent to pl-4 */
    background-color: #f0f0f5; /* Equivalent to bg-zinc-200 */
    font-weight: 600; /* Equivalent to font-semi-bold */
    border-radius: 0.375rem;
}
.button {
    background-color: blue;
}