/* Header.css */
.header-container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .header-title {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .header-text {
    font-size: 1.25rem;
  }
  